.box-wrapper {
  border-radius: 10px;
  padding: 40px 0;
  transition: all 0.3s ease-in-out;
}
.box-wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.expert-box-main-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  .expert-box-main-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .expert-box-main-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

@media (max-width: 575px) {
}
